# Ignorar toda a pasta dados
dados/
relatorios_gerados/
relatorios_pdf/

# Ignorar ambiente virtual
venv/

# Ignorar arquivos temporários do VS Code
.vscode/

# Ignorar arquivos do Python
*.pyc
__pycache__/


# Ignorar aquivos .pdf
*.pdf